.hook-container{
    display: flex;
    flex-direction: column;
}

.hook-title {
    font-size: 2rem;
}

/* Dice stuff */

.dice-roll{
    padding: 1rem;
}

.roll-results{
    display: flex;
    column-gap: 5rem;
}